body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }

        .button-container {
               display: flex;
               align-items: center;
               gap: 50px;
        }

        button {
            padding: 14px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        button:hover {
            background-color: #e53935;
            transform: scale(1.05);
        }

        .good-button {
    background-color: #4CAF50;
    color: white;
}

.good-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.bad-button {
    background-color: #f44336;
    color: white;
}

.bad-button:hover {
    background-color: #e53935;
    transform: scale(1.05);
}



#message {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
}
